html{
	background-image: url(../fondo3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}
body{
	background-color: white;
	width: 70%;
	padding: 0;
	margin: 0px 14% 0px 14%;
	font-family: Verdana;
	display: block;
	box-sizing: border-box;
}
#portada{
	display: inline-block;
	background-color:#CCC8A1; 
}
#nombre{
	padding-left: 20px;
	text-align: left;
	width: 75%;
	display: inline-block;
}
#foto{
	padding-right: 10px;
	text-align: left;
	width: 20%;
	display: inline-block;
	padding-top: 10px;
	position: relative;
}
#foto img{
	
	width: 100%;
	border-radius: 20px;
}
.anim {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #B3B096;
  overflow: hidden;
  width: 100%;
  border-radius: 20px;
  height: 0;
  transition: .5s ease;
}

#foto:hover .anim {
  height: 99%;
}

.texto {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.espacio_1{
	background-image: url(../espacio1.jpeg);
	background-size: cover;
	height: 25px;
}
.espacio_02{
	background-color: blue;
	height:2px;
}
#contenido{
	display: inline;
}
#columna_izq{
	display: inline-block;
	background-color: #E2F9FF;
	text-align: left;
	max-height: 100vh;
	overflow: auto;
	width: 70%;
	padding-left: 10px;
}
.text{
	width: 65%;
}
.date{
	width:10%;
}
.image{
	width: 24%;
	text-align: center;
}
#columna_der{
	height: 100%;
	display: inline-block;
	background-color: white;
	float: right;
	text-align: left;
	width: 28%;
	padding-left: 10px;
}
.social_block{
	
}
.social_block ul li{
	margin-right: 15px;
	display: inline;
}
.social_block ul li a{
	text-decoration: none;
	color:gray;
	font-size:1.6em;
	border:2px solid #E3E0E0;
	width:30px;
	line-height:30px;
	border-radius:50%;
	padding:8px;
	display:inline-block;
	text-align:center;
}
.social_block ul li a:hover,.social_block ul li a:active{
	color:#CCCACA;
}
.social_block ul {
	font-family:'FontAwesome', serif;
}
footer{
	height: 35px;
	background-color: #8DABB3;
	width: 100%;
}
.image img{
	max-height: 75px;
	max-width: 75px;
	border-radius: 50px;
}
